<!DOCTYPE html>
<html>
  <head>
    <title>CalendarTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
  <div class="header">
    
    <% if user_signed_in? %>
      <div class="header__left">
        <%= link_to "マイカレンダー",user_path(current_user.id), class: "header__left--btn" %>
      </div>
      <div class="header__right">
      <div id="toggle">
        <b>グループカレンダー</b>
        <div class="header__right--groups">
          <% current_user.groups.each do |group| %>
            <div class="header__right--groups--flex">
              <%= link_to "#{group.name}", group_events_path(group.id), class: "header__right--groups--group" %>
              <%= link_to "編集", "#"%>
            </div>
          <% end %>
          <%= link_to "グループ作成", new_group_path, class: "header__right--groups--group" %>
          
        </div>
        </div>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
    <% else %>
      <div class="header__right">
        <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
        <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
      </div>  
    <% end %>
    </div>
  </div>
</div>
    <%= yield %>
  

  </body>
</html>
